body {
    margin: 0;
    background-color: lightgray;
    min-height: 100vh;
}

.container {
    background-color: white;
    border: solid 3px black;
    border-radius: 6px;
    box-shadow: 5px 5px 10px black;
    margin: auto;
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.calendar-form {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.calendar-form label {
    float: left;
    width: 20%;
    margin: 10px;
}

.calendar-form div input {
    float: right;
    width: 50%;
    margin: 10px;
}

.calendar-form div {
    overflow: auto;
}

.calendar-form div::after {
    content: "";
    clear: both;
}

.calendar-form input[type=submit] {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.error-container {
    text-align: center;
    background-color: #ff9999;
    color: darkred;
    padding: 10px;
    border: solid 3px darkred;
    border-radius: 5px;
}
