
body {
    font-size: 0.7em;
}

.title {
    text-align: center;
}

.month-week-number-container {
    float: left;
}

.month-week-number-container::after {
    content: "";
    clear: both;
}

.weekday-name-contaner {
    display: none;
    float: left;
    margin-right: 10px;
}

.weekday-name {
    height: 30px;
    display: table;
}

.weekday-name span {
    vertical-align: middle;
    display: table-cell;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-auto-rows: auto;
}

.month-name {
    text-align: center;
}

.month-wrapper {
    margin: auto;
    margin-left: 0;
}

.month {
    margin: 10px;
}

.month-wrapper:nth-of-type(6n-5) .month .weekday-name-contaner {
    display: flex;
    flex-direction: column;
}

.month-wrapper:nth-of-type(6n-5) .month-name {
    margin-left: 30%;
}

.month-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.week-number-container {
    display: flex;
}

.week-number {
    width: 30px;
    height: 30px;
    display: table;
    text-align: center;
}

.week-number span {
    display: table-cell;
    vertical-align: middle;
}

.week {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.day {
    width: 30px;
    height: 30px;
    text-align: center;
    display: table;
}

.day span {
    display: table-cell;
    vertical-align: middle;
}

.day.daytype-weekday {
    background-color: lightgray;
}

.day.daytype-weekend {
    background-color: lightskyblue;
}

.day.daytype-session {
    background-color: red;
    color: white;
    text-shadow: 0 0 5px;
}

.day.daytype-holiday {
    background-color: green;
    color: white;
    text-shadow: 0 0 5px;
}
